<!DOCTYPE html>
<html lang="es">
<head>
    <title>Panel de Pacientes - TheraPose</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Panel de control para gestionar pacientes en TheraPose" />
    <meta name="keywords" content="Yoga, Terapéutico, Pacientes, Gestión, TheraPose" />
    <meta name="author" content="CleanCoders" />
    <link rel="stylesheet" href="/static/css/patients.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body>
    <h1>Hola Mundo</h1>
</body>
</html>